<h1> Welcome to Peer Park </h1>

<div class="map-parent">
  <%= react_component("Map", props: {"MAPBOX_API_KEY": ENV["MAPBOX_API_KEY"]}) %>
</div>

<div>
	<%= link_to('Login', new_user_session_path, {class: 'ui button'})  %>
	<%= link_to('Sign up to List a Space', new_user_registration_path + '?list=true', {class: 'ui button' })  %>
	<%= link_to('Sign up to Find a Space', new_user_registration_path + '?list=false', {class: 'ui button'})  %>
</div>



