<h1> Welcome to Peer Park </h1>

<div>
	<%= link_to('Login', new_user_session_path, {class: 'ui button'})  %>
	<%= link_to('Sign up to List a Space', new_user_registration_path, {class: 'ui button'})  %>
	<%= link_to('Sign up to Find a Space', new_user_registration_path, {class: 'ui button'})  %>
</div>
