<h1> Welcome to Peer Park </h1>


<div class="map-parent">
  <%= react_component("Map", props: {"MAPBOX_API_KEY": ENV["MAPBOX_API_KEY"]}) %>
</div>

<div class="ui centered grid">
  <div class="ui search">
    <div class="ui large icon input">
      <input style="width:48em;" class="prompt" type="text" placeholder="Search cities...">
      <i class="search icon"></i>
    </div>
      <div class="results"></div>
</div>



 