

<div class="content">
  <div class="map-parent pusher">
    <%= react_component("Map", props: {"MAPBOX_API_KEY": ENV["MAPBOX_API_KEY"]}) %>
  </div>
  <div class="ui bottom wide visible sidebar menu"><div id="space-info">Hello World</div></div> 
  <div class="search">
    <div class="ui centered grid", style="position:fixed;">
      <div class="ui search">
        <div class="ui large icon input">
          <input class="prompt" type="text", placeholder="Search cities...">
            <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="results"></div>
</div>

<script>
$( document ).on('turbolinks:load', function() {
})
</script>

