/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require formtastic
 */

$PRIMARY_RED: #d11149;

 header {
    height: 20vh;
    background-image: url("Peer_Park_Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $PRIMARY_RED;
    .ui.compact.menu { margin-top: 5%; margin-left: 5%;}
    .ui.menu .item>i.icon { margin-left: auto; margin-right: auto; }
 }

 p.notice, p.alert { margin: 0; }

 .marker {
  background-image: url('space-icon.png');
  background-size: cover;
  width: 89px;
  height: 71px;
  border-radius: 50%;
  cursor: pointer;
}

