// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-parent {
  position: relative;
  top: 20%;
  width: 100%;
}
// .search {
// 	bottom: 7em;
// }
// .search input[type="text"] {
// 	width: 25em;
// 	font-family: 'Varela Round', sans-serif;
// 	color: #2b2d42;
// }
