// Place all the styles related to the Spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$PRIMARY_RED: #d11149;
$PRIMARY_GRAY: #2b2d42;


h1 {
  text-align: center;
	padding-top: 1rem;
	margin:0;
}

h2 {
	font-size: 1.25em;
	margin: .5em;
}
h4 {
	margin-left: 4em;
}

link_to {
	color: $PRIMARY_RED;
}
#new_space {
	margin-left: 4rem;
	margin-right: 4rem;
	margin-top: 1rem;
}
    
li {
  list-style: none;
}

.header {
	margin-left: 2em;
}
.address,  {
  display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
	line-height: 0.65em;
	font-family: 'Varela Round', sans-serif;
}
.photo {
	font-family: 'Varela Round', sans-serif;
}

// .actions > ui_basic_button, ui_submit_button, ui_cancel_button{
// 	padding: 2em;
// }

// .ui radio checkbox {
// 	margin-top: 1.5em;
// 	margin-left: auto;
// 	margin-right: auto;
// 	color: $PRIMARY_GRAY;
// }
.choices-group {
	padding: 0 0 0 5%;
}
.rate {
	// width: 20%;
	margin-left: auto;
	margin-right: auto;
	color: $PRIMARY_GRAY;
}

.duration.ui.input {
	width: 7em !important;
}

.goddamn {
	position: absolute;
  left: 30%;
  padding: 1em;
}

.total {
	padding: 1em;
}

.ui.button {
	background-color: $PRIMARY_RED !important;
	color: white;
	margin-bottom: 1em;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	flex-wrap: wrap
}

space {
	margin-bottom: 1em;
}

.yourspaceinfoshit {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	flex-wrap: wrap
}

.everydaytoggilin {
	margin-left: 20%;
}

// .container {
// 	margin-left: 15%;
// 	margin-right: 15%;
// }

#space_hourly_rate {
	width: 40%;
}

#space_description {
	width:100%;
}

.boom {
	margin: 0px 5em 1em;
}
.allformtwo{
	fieldset.actions { padding-left: 6%;}
}
.allformtwo .actions {
	padding-bottom: 8%;
	padding-left: 9%;
}