// Place all the styles related to the Spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
padding-top: 2rem;
}

#new_space {
  margin: 4rem;
}
    
li {
  list-style: none;
}

.weekdays {
  display: flex;
  justify-content: space-around;
}
    
.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.actions {

}