// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
text-align: center;
}

li {
  list-style: none;
}

#new_space {
  background-color: gray;
  padding: 3rem;
  border-radius: 20px;

}

.address {
  display: flex;
  justify-content: space-around;
}

.weekdays {
  display: flex;
  justify-content: space-around;
}
