// Place all the styles related to the Vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Wholeshit {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 1em;
}

.showmethemoney {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 2em;
}


duration.ui.input {
	width: 8em;
}

.vehicle-buttons{
	margin-top: 8%;
}